<div class="blog-card reveal">
    <div class="blog-banner-box">
        <img src="{{POST_IMAGE}}" alt="{{POST_TITLE}}" loading="lazy" class="blog-banner">
    </div>
    <div class="blog-content">
        <div class="blog-meta">
            <a href="/blogs/tags/{{POST_CATEGORY_SLUG}}.html" class="blog-category">{{POST_CATEGORY}}</a>
            <span class="publish-date">{{POST_DATE}}</span>
        </div>
        <h3 class="blog-title">
            <a href="/blogs/{{POST_SLUG}}.html">{{POST_TITLE}}</a>
        </h3>
        <p class="blog-text">{{POST_EXCERPT}}</p>
    </div>
</div>